[submodule "STM32_DigitalInputs_With_Debouncing"]
	path = STM32_DigitalInputs_With_Debouncing
	url = git@github.com:deepanshutanwar/STM32_DigitalInputs_With_Debouncing.git
[submodule "STM32_4x4_Keypad"]
	path = STM32_4x4_Keypad
	url = git@github.com:deepanshutanwar/STM32_4x4_Keypad.git
[submodule "STM32-PinRead"]
	path = STM32-PinRead
	url = git@github.com:deepanshutanwar/STM32-PinRead.git
[submodule "STM32-BoardGreenLedBlink"]
	path = STM32-BoardGreenLedBlink
	url = git@github.com:deepanshutanwar/STM32-BoardGreenLedBlink.git
